# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Python / Django
backend/__pycache__/
backend/*.pyc
backend/db.sqlite3
backend/uploads/media/
backend/.env
venv/
.venv/
.pyc
db.sqlite3
__pycache__/
_pycache_/
.bin/
__pycache__

# IDEs & System
.idea/
.vscode/
.DS_Store
*.log
.gemini/

plan.md
vuln_results1.json
vuln_results2.json
vuln_results3.json
vuln_results4.json